<nav class="nav-bar-2">
  <ul>
    <li>
      <div class="dropdown">
        <a class="dropbtn" style="cursor: pointer">Filter</a>
        <div class="dropdown-content">
          <a>Link 1</a>
          <a>Link 2</a>
          <a>Link 3</a>
        </div>
      </div>
    </li>
    <li>
      <a>T-shirt</a>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="col" *ngFor="let data of rowData3; let i = index">
    <div *ngIf="search === '' || data.name.toLowerCase().includes(search)">
      <div class="item1" [routerLink]="['/detail/' + data.id]">
        <!-- image-->
        <div style="position: relative">
          <img
            style="height: 220px; border-radius: 10px"
            src="{{ data.image }}"
            alt="..."
          />
          <p id="price">RS {{ data.price }}</p>
        </div>

        <!-- details-->
        <div>
          <h4>{{ data.name }}</h4>
          <p
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            "
          >
            {{ data.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
