*{
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
    /* list-style: none; */
    text-decoration: none;
}
.container{
    margin: 10px 30px;
}
.bac{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}
h1{
    margin-top: 5px;
    margin-bottom: 5px;
}
h2{
    margin-top: 5px;
    margin-bottom: 5px;
}