<p>update-product works!</p>
<div class="container" *ngIf="productData">
    <form (ngSubmit)="onSubmit()">
      <div class="row">
        <h1>Update Product</h1>
      </div>
  
      <div class="row">
        <div class="m">
          <p>Name</p>
          <input [(ngModel)]="productData.name" type="text" name="name" />
        </div>
        <div class="m">
          <p>Description</p>
          <textarea [(ngModel)]="productData.description" name="description" id="description" cols="30" rows="1"></textarea>
        </div>
        <div class="m">
          <p>RichDescription</p>
          <textarea [(ngModel)]="productData.richDescription" name="richDescription" id="richDescription" cols="30" rows="1"></textarea>
        </div>
        <!-- <div class="m">
          <p>Image</p>
          <input (submit)="imageUpdate(event)" type="file" name="image"/>
        </div> -->
      </div>
  
      <div class="row">
        <div class="m">
          <p>Brand</p>
          <input [(ngModel)]="productData.brand" name="brand" id="brand"/>
          <!-- <select [(ngModel)]="productData.brand" name="brand" id="brand">
            <option value="male">male</option>
            <option value="female">female</option>
          </select> -->
        </div>
        <div class="m">
          <p>Price</p>
          <input [(ngModel)]="productData.price" type="number" name="price"/>
        </div>  
        <!-- <div class="m">
          <p>Category</p>
          <input [(ngModel)]="productData.category.name" name="category" id="category"/>
        </div> -->
        <div class="m">
          <p>Category</p>
          <select name="category" id="category" (change)="onCategoryChange($event)">
            <option disabled selected>{{ productData.category.name }}</option>
            <option *ngFor="let category of categoryList" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>

        <div class="m">
          <p>CountInStock</p>
          <input [(ngModel)]="productData.countInStock" type="number" name="CountInStock" min="1"/>
        </div>
      </div>
  
      <div class="row">
        <div class="m">
          <p>rating</p>
          <input [(ngModel)]="productData.rating" type="number" name="rating" min="1" max="5"/>
        </div>
        <div class="m">
          <p>isFeatured</p>
          <select [(ngModel)]="productData.isFeatured" name="isFeatured" id="isFeatured">
            <option value="false">No</option>
            <option value="true">Yes</option>
          </select>
        </div>
        <div class="m">
          <p style="visibility: hidden;">.</p> 
          <button class="btn" type="submit">Update</button>
        </div>
      </div>
    </form>
  </div>
  