<div class="topbar">
  <h5>SHOP NEW ARRIVALS</h5>
</div>
<div class="header">
  <h1 routerLink="" style="cursor: pointer; font-family: Verdana, Geneva, Tahoma, sans-serif;">FUSION &reg;</h1>

  <nav class="nav-bar" [ngClass]="{'active': isShow}">
    <ul>
      <li>
        <div class="dropdown">
          <a class="dropbtn" routerLink="men" >Men</a>
          <div class="dropdown-content">
            <p routerLink="women">All</p>
            <p routerLink="women">Shirt</p>
            <p routerLink="women">Short</p>
            <p routerLink="women">Trouser</p>
          </div>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <a class="dropbtn" routerLink="women">Women</a>
          <div class="dropdown-content">
            <p routerLink="women">All</p>
            <p routerLink="women">T-Shirt</p>
            <p routerLink="women">Shirt</p>
            <p routerLink="women">Trouser</p>
          </div>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <a class="dropbtn" routerLink="about">About</a>
          <div class="dropdown-content">
            <p routerLink="women">Contact</p>
            <p routerLink="women">About us</p>
            <p routerLink="women">Privacy policy</p>
            <p routerLink="women">Terms & conditions</p>
          </div>
        </div>
      </li>
      <li>
        <a routerLink="cart">Cart</a>
      </li>
    </ul>
  </nav>

  <div class="search">
    <input placeholder="Search" [(ngModel)]="value" (change)="change()" type="text" id="search" name="search" size="20">
  </div>
  <div class="login">
    <a *ngIf="!_auth.loggedIn()" routerLink="login">Login</a>
    <a *ngIf="_auth.loggedIn()" (click)="logOut()" style="cursor:pointer">Logout</a>
    <!-- <a routerLink="register">Logout</a> -->
  </div>

  <div class="hamburger" (click)="toggleDivs()"> 
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

</div>

<div class="main">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <h5>© 2020. All rights reserved. Made by Uzair Junaid</h5>
</div>