*{
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.container{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-content: center;
}
.container p{
    margin-bottom: 10px;
}
.container p b{
    cursor: pointer;
}
.container h1{
    margin-top: 50px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.row .m{
    margin: 5px;
}

input{
    border: none;
    background-color: whitesmoke;
    padding: 10px 10px;
    font-size: medium;
    border-radius: 10px;
    width: 250px;
}
textarea{
    border: none;
    background-color: whitesmoke;
    padding: 10px 10px;
    font-size: large;
    border-radius: 10px;
    width: 250px;
    min-width: 250px;
    min-height: 38px;
}
select{
    border: none;
    background-color: whitesmoke;
    padding: 10px 10px;
    font-size: medium;
    border-radius: 10px;
    width: 250px;
}

.btn{
    background-color: rgb(249,220,74);
    border-radius: 10px;
    color: black;
    border: none;
    padding: 10px 20px;
    width: 250px;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
}

