<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="row">
      <h1>Insert Product</h1>
    </div>

    <div class="row">
      <div class="m">
        <p>Name</p>
        <input [(ngModel)]="productData.name" type="text" name="name" />
      </div>
      <div class="m">
        <p>Description</p>
        <textarea [(ngModel)]="productData.description" name="description" id="description" cols="30" rows="1"></textarea>
      </div>
      <div class="m">
        <p>RichDescription</p>
        <textarea [(ngModel)]="productData.richDescription" name="richDescription" id="richDescription" cols="30" rows="1"></textarea>
      </div>
      <div class="m">
        <p>Image</p>
        <!-- <input [(ngModel)]="productData.image" type="file" accept="image/*" name="Image" /> -->
        <input (change)="onChangefile($event)" type="file" accept="image/*" name="Image" />
      </div>
    </div>

    <div class="row">
      <div class="m">
        <p>Brand</p>
        <select [(ngModel)]="productData.brand" name="brand" id="brand">
          <option value="male">male</option>
          <option value="female">female</option>
        </select>
      </div>
      <div class="m">
        <p>Price</p>
        <input [(ngModel)]="productData.price" type="number" name="price" />
      </div>
      <div class="m">
        <p>Category</p>
        <select [(ngModel)]="productData.category" name="category" id="category">
          <option *ngFor="let category of categoryList"  value="{{category.id}}">{{category.name}}</option>
        </select>
      </div>
      <div class="m">
        <p>CountInStock</p>
        <input [(ngModel)]="productData.countInStock" type="number" name="CountInStock" min="1"/>
      </div>
    </div>

    <div class="row">
      <div class="m">
        <p>rating</p>
        <input [(ngModel)]="productData.rating" type="number" name="rating" min="1" max="5"/>
      </div>
      <div class="m">
        <p>isFeatured</p>
        <select [(ngModel)]="productData.isFeatured" name="isFeatured" id="isFeatured">
          <option value="false">No</option>
          <option value="true">Yes</option>
        </select>
      </div>
      <div class="m">
        <p style="visibility: hidden;">.</p> 
        <button class="btn" type="submit">Insert</button>
      </div>
    </div>
  </form>
</div>

<!-- name
description
richDescription 
image
images
brand
price
category
countInStock
rating
isFeatured -->
