<p>home works!</p>
<div class="container">
  <div class="item1">

  </div>
  <div class="item2" >
    <img style="height: 100%; width: 100%; object-fit: cover; border-radius: 10px;" 
        src="../../assets/omar-prestwich-jLEGurepDco-unsplash.jpg" alt="">
  </div>
  <div class="item3"></div>
</div>

<div class="center">
  <h1>Featured Product</h1>
</div>
<div class="item4">
  <div class="col1" *ngFor="let data of rowData3; let i = index">
    <img
      style="height: 200px; border-radius: 10px"
      src="{{ data.images }}"
      alt="..."
    />
    <!-- details -->
    <!-- <div class="detail"> -->
    <h4>{{ data.title }}</h4>
    <p>PKR: {{ data.price }}</p>
    <!-- <input style="width: 40px; height: 22px" type="number" id="quantity" name="quantity" min="1" [defaultValue]="1"> -->
    <!-- </div> -->
  </div>
</div>
