<div class="container">
  <form (ngSubmit)="onSubmit()">
    <h1>Create New Account</h1>

    <div class="row">
      <div class="left">
        <p>Email</p>
        <input [(ngModel)]="registerData.email" type="text" name="email" />
      </div>

      <div class="right">
        <p>Password</p>
        <input [(ngModel)]="registerData.password" type="password" name="password" />
      </div>
    </div>
    <div class="row">
      <div class="left">
        <p>username</p>
        <input [(ngModel)]="registerData.username" type="text" name="username" />
      </div>
      <div class="right">
        <p>Phone</p>
        <input [(ngModel)]="registerData.phone" type="text" name="phone" />
      </div>
    </div>
    <div class="row">
      <div class="left">
        <p>Street</p>
        <input [(ngModel)]="registerData.street" type="text" name="street" />
      </div>
      <div class="right">
        <p>Apartment</p>
        <input [(ngModel)]="registerData.apartment" type="text" name="apartment" />
      </div>
    </div>
    <div class="row">
      <div class="left">
        <p>Zip</p>
        <input [(ngModel)]="registerData.zip" type="text" name="zip" />
      </div>
      <div class="right">
        <p>City</p>
        <input [(ngModel)]="registerData.city" type="text" name="city" />
      </div>
    </div>
    <div class="row">
      <div class="left">
        <p>Country</p>
        <input [(ngModel)]="registerData.country" type="text" name="country" />
      </div>
      <div class="right"></div>
    </div>

    <button class="btn" type="submit">Login</button>

    <p>Have an account? <b routerLink="/login"> Login </b></p>
  </form>
</div>
